<header class="header">
  <din class="main-nav">
    <div class="nav-area">
      <div class="nav-left">
        <div class="logo-wrapper">
          <a href="/" class="logo">
            <img src="./images/home/conference_logo.png" alt="logo" />
            <div class="logo-container">
              <h1>Energy & Carbon Management </h1>
               <h2>Case Studies, Progress & Future Directions (ECM 2025)</h2>
              <h2>June 13 - 14, 2025, IIT Guwahati</h2>
            </div>
            <img src="./images/home/iitglogo.png" alt="logo" />
          </a>
        </div>

      </div>
      <div class="nav-center">
        <div class="nav-center-inner">
          <nav class="nav-pages">
            <ul class="main-menu">
              <li>
                <a class="nav-tab" href="./index.html"><span>HOME</span></a>
              </li>
              <li>
                <a class="nav-tab" href="./registration.html"><span>Registration</span></a>
              </li>
              <li>
                <a class="nav-tab" href="./committees.html"><span>Expert Committees</span></a>
              </li>
              <li>
                <a class="nav-tab" href="./dates.html"><span>Call for Papers</span></a>
              </li>
              <li>
                <a class="nav-tab" href="./speakers.html"><span>Speakers</span></a>
              </li>
              <li>
                <a class="nav-tab" href="./awards.html"><span>Best Thesis Awards</span></a>
              </li>
              <li>
                <a class="nav-tab" href="./partners.html"><span>Partners</span></a>
              </li>
              <li>
                <a class="nav-tab" href="./contact.html"><span>Contact Us</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- <% if(path == '/'){ %>
      <div class="nav-right">
        <div class="nav-right-inner">
          <a class="nav-link" href="#get-in-touch"><span>Connect Us</span></a>
        </div>
      </div>
      <% } %> -->
    </div>
  </din>
  <div class="mobile-nav">
    <div class="mobile-nav-area">
      <div class="mobile-nav-header">
        <div class="mobile-logo">
          <a href="/" class="logo">
            <img src="./images/home/conference_logo.png" alt="logo" />
            <div class="logo-container">
              <span class="mobile-text">ECM 2025</span>
            </div>
          </a>
        </div>
        <div class="menu-icon">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
      <div class="mobile-nav-menu">
        <ul>
          <li>
            <a class="nav-tab" href="./index.html"><span>HOME</span></a>
          </li>
          <li>
            <a class="nav-tab" href="./registration.html"><span>Registration</span></a>
          </li>
          <li>
            <a class="nav-tab" href="./committees.html"><span>Expert Committees</span></a>
          </li>
          <li>
            <a class="nav-tab" href="./dates.html"><span>Call for Papers</span></a>
          </li>
          <li>
            <a class="nav-tab" href="./speakers.html"><span>Speakers</span></a>
          </li>
          <li>
            <a class="nav-tab" href="./awards.html"><span>Best Thesis Awards</span></a>
          </li>
          <li>
            <a class="nav-tab" href="./partners.html"><span>Partners</span></a>
          </li>
          <li>
            <a class="nav-tab" href="./contact.html"><span>Contact Us</span></a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="sticky-nav" >
    <div class="sticky-nav-holder">
      <div class="stick-nav-area">
        <div class="sticky-nav-left">
          <div class="logo-wrapper">
            <a href="/" class="logo">
              <img src="./images/home/conference_logo.png" alt="logo" />
              <div class="logo-container">
                <span>ECM 2025</span>
              </div>
            </a>
          </div>
        </div>
        <div class="sticky-nav-center">
          <div class="nav-center-inner">
            <nav class="nav-pages">
              <ul class="stick-menu">
                <li>
                  <a class="nav-tab" href="./index.html"><span>HOME</span></a>
                </li>
                <li>
                  <a class="nav-tab" href="./registration.html"><span>Registration</span></a>
                </li>
                <li>
                  <a class="nav-tab" href="./committees.html"><span>Expert Committees</span></a>
                </li>
                <li>
                  <a class="nav-tab" href="./dates.html"><span>Call for Papers</span></a>
                </li>
                <li>
                  <a class="nav-tab" href="./speakers.html"><span>Speakers</span></a>
                </li>
                <li>
                  <a class="nav-tab" href="./awards.html"><span>Best Thesis Awards</span></a>
                </li>
                <li>
                  <a class="nav-tab" href="./partners.html"><span>Partners</span></a>
                </li>
                <li>
                  <a class="nav-tab" href="./contact.html"><span>Contact Us</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</header>