section {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s ease-in-out;
}
.banner {
    background-color: #555;
    width: 100%;
    height: 15vh;
    /* padding: 4vw; */
    margin: 0 0 5vh 0 ;
    }
.page1{
    width: 100%;
    height: 100%;
    position: relative;
    clear: both;
    z-index: 1;
    /* padding: 80px 0px; */
}
.container-inner{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.container-inner h1{
    font-size: 35px;
    /* font-family: "montserrat"; */
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .1em;
    text-align: center;
    position: relative;
}

.container-inner p{
    font-family: "montserrat";
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: #eee;
    width: 60%;
}


/* Contact us Section CSS */

/* Cards */
.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
.card h2 {
    color: #2563eb;
    font-size: 1.4em;
    margin-bottom: 20px;
}

.eligibility{
    margin: auto;
    line-height: 40px;
    width: 100%;
    padding: 4vh 6vw;
    padding-bottom: 2vh;
    margin-bottom: 30px;
}

/* Call to Action */
.cta-container{
    width: 100%;
    padding: 0 6vw;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.cta {
    background: #555;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
}
.cta p{
    margin-bottom: 30px;
}
.btn {
    display: inline;

    background: #ffcc00;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
}
.btn:hover {
    background: #e6b800;
}

/* Scroll animation effect */
.fade-in {
    opacity: 1 !important;
    transform: translateY(0) !important;
}


.contact{
    width: 100%;
    padding: 4vh 6vw;
    padding-bottom: 0vh;
}

.contact h1{
    font-family: Rajdhani, sans-serif;
    font-size: 1.8rem;
    line-height: 1em;
    font-weight: 600;
    text-align: center;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 2.5rem;
}
.contact-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.contact-inner p{
    display: block;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 20px;
}


@media (max-width: 800px) {
   
    .contact{
        padding: 2vh 6vw;
    }
    .container-inner h1{
        font-size: 30px;
    }
    .container-inner h3{
        font-size: 15px;
        text-align: center;
    }
    .contact-inner p{
        font-size: 1.1rem;
    line-height: 1.3rem;
    }
    .contact-container{
        flex-direction: column;
        gap: 30px;
    }
    .contact-col{
        width: 98%;
    }
}

@media(max-width: 550px){

    .container-inner h1{
        font-size: 25px;
    }
    .container-inner h3{
        font-size: 12px;
    }
    .container-inner p{
        font-size: 0.9rem;
    line-height: 1.2rem;
    width: 90%;
    }
    .eligibility{
        line-height: 30px;
    }
}