.banner {
    background-color: #555;
    width: 100%;
    height: 10vh;
    margin-top: 20px;
    /* padding: 4vw; */
    margin-bottom: 10vh;
    }
.page1{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#77777799  20%, #00000098 100%);
    position: relative;
    clear: both;
    z-index: 1;
    /* padding: 80px 0px; */
}
.container-inner{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.container-inner h1{
    font-size: 35px;
    /* font-family: "montserrat"; */
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .1em;
    text-align: center;
    position: relative;
}
.container-inner h2{
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: .35em;
    text-transform: uppercase;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 2.5rem;
}
.container-inner p{
    font-family: "montserrat";
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: #eee;
    width: 60%;
}


/* Contact us Section CSS */


/* floating buttons */

.floating-buttons {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 100;
}

.floating-buttons a {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    transition: transform 0.3s ease;
}

.floating-buttons a:hover {
    transform: scale(1.1);
}

.floating-buttons img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.whatsapp-float {
    background-color: #25D366;
}

.call-float {
    background-color: #34b7f1;
}

.contact{
    width: 100%;
    padding: 4vh 6vw;
    padding-bottom: 5vh;
}
.contact h1{
    font-family: Rajdhani, sans-serif;
    font-size: 1.8rem;
    line-height: 1em;
    font-weight: 600;
    text-align: center;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 2.5rem;
}
.contact-inner{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: left;
}
.contact-inner>p{
    font-size: 20px;
    margin: 20px 0;
}
.contact-inner h2{
    margin-top: 30px;
    font-size: 1.2rem;
    line-height: 1em;
    font-weight: 400;
    text-align: center;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 2.5rem;
}
.contact-header{
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
}
.contact-header h2{
    font-size: 30px;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: .020em;
    text-transform: uppercase;
    color: #012970;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.contact-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /* gap: 20px; */
}
.contact-col{
    width: 49%;
    padding: 20px 30px;
    background-color: #ffffff8b;
    border: 1px solid #e5e7eb;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* gap: 1.5rem; */
    transition: all ease-in-out .5s;
    /* padding-top: ; */
    /* padding: 1.6rem 1.25rem; */
}
.contact-coln{
    width: 49%;
    padding: 20px 30px;
    background-color: #ffffff8b;
    border: 1px solid #e5e7eb;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* gap: 1.5rem; */
    transition: all ease-in-out .5s;
    /* padding-top: ; */
    /* padding: 1.6rem 1.25rem; */
}
.contact-col i{
    font-size: 30px;
}
.contact-coln i{
    font-size: 30px;
}
.contact-col h3{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}
.contact-coln h3{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}
.contact-col p{
    font-size: 18px;
    letter-spacing: .020em;
    font-weight: 500;
    line-height: 20px;
    color: #333;
    /* margin-bottom: 15px; */
    -webkit-font-smoothing: antialiased;
}
.contact-coln p{
    font-size: 18px;
    letter-spacing: .020em;
    font-weight: 500;
    line-height: 30px;
    color: #333;
    /* margin-bottom: 15px; */
    -webkit-font-smoothing: antialiased;
}

.box{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}
.box i{
    margin-top: 2px;
    font-size: 20px;
}
.box h4{
    font-size: 20px;
}
.box a{
    text-decoration: none;
    color: #333;
}
@media(max-width: 1024px){
    .banner{
        margin-bottom: 5vh;
    }
    .contact-col p{
        font-size: 15px;
    }
}

@media (max-width: 767px) {
   
    .container-inner{
        gap: 20px;
    }
    .container-inner h1{
        font-size: 30px;
    }
    .container-inner p{
        font-size: 1.1rem;
    line-height: 1.3rem;
    width: 80%;
    }
    .contact-container{
        flex-direction: column;
        gap: 30px;
    }
    .contact-col{
        width: 98%;
    }
}

@media(max-width: 524px){
    .container-inner{
        gap: 20px;
    }
    .banner{
        height: 10vh;
    }
    .contact-col h3{
        font-size: 20px;
    }
    .contact-col p{
        line-height: 20px;
    }
    .box h4{
        font-size: 18px;
    }
    .container-inner h1{
        font-size: 25px;
    }
    .container-inner p{
        font-size: 0.9rem;
    line-height: 1.2rem;
    width: 90%;
    }
    .contact-inner>p {
        font-size: 15px;
    }
}